# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula** 

Nombre:

Matricula:

1. Carga las librerias básicas

In [1]:
##### carga las dos librerias usadas (numpy, pandas ) 
import numpy as np 
import pandas as pd

El siguiente comando importa un data frame desde un archivo csv de internet

In [2]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [4]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     168 non-null    int64
 1   Mes     168 non-null    object
 2   Ventas  168 non-null    int64
 3   Gasto   168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [5]:
#muestra las primeras 5 filas del dataframe
ventas.head()

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [7]:
ventas['Ganancias']  = ventas['Ventas'] - ventas['Gasto']
ventas

      Año         Mes  Ventas  Gasto  Ganancias
0    2010       Enero    1056    533        523
1    2010     Febrero     910    496        414
2    2010       Marzo    1095    695        400
3    2010       Abril    1157    599        558
4    2010        Mayo     969    490        479
..    ...         ...     ...    ...        ...
163  2023      Agosto    1759   1818        -59
164  2023  Septiembre    2114   2142        -28
165  2023     Octubre    2120   1767        353
166  2023   Noviembre    2102   1652        450
167  2023   Diciembre    2166   2192        -26

[168 rows x 5 columns]

4. Encuentra el mes-año con las ganancias más altas

In [9]:
ventas.sort_values('Ganancias', ascending=False).head(1)

     Año     Mes  Ventas  Gasto  Ganancias
91  2017  Agosto    1680   1088        592

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [12]:
Ventas_Totales = ventas['Ventas'].sum()
Gastos_Totales = ventas['Gasto'].sum()
Ganancias_Totales = ventas['Ganancias'].sum()

print('Las ventas totales son: ', Ventas_Totales, ', los gastos totales son: ', Gastos_Totales, ' y las ganancias totales son: ', Ganancias_Totales)

Las ventas totales son:  235731 , los gastos totales son:  181123  y las ganancias totales son:  54608

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [26]:
ventas.groupby('Año')[['Ventas','Gasto','Ganancias']].sum()

      Ventas  Gasto  Ganancias
Año
2010   12015   6756       5259
2011   12778   7806       4972
2012   12965   8430       4535
2013   14037   8963       5074
2014   14922  10377       4545
2015   14951  10784       4167
2016   15376  11053       4323
2017   17189  12369       4820
2018   18325  14648       3677
2019   18204  14759       3445
2020   18917  16206       2711
2021   21057  17693       3364
2022   21692  18946       2746
2023   23303  22333        970

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [21]:
## escribe aqui el código
ventas.query('Año==2015')['Ventas'].mean().round(1)

1245.9

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [45]:
sum_ene = ventas.query('Mes=="Enero"')['Ventas'].sum().round(1)

print('Las ventas totales en enero son de: ', sum_ene)

Las ventas totales en enero son de:  20073

In [46]:
mean_ene = ventas.query('Mes=="Enero"')['Ventas'].mean().round(1)

print('El promedio de ventas en enero es de: ', mean_ene)

El promedio de ventas en enero es de:  1433.8

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [50]:
## aqui va tu codigo
ventas.groupby('Mes')['Ventas'].mean().round(1).sort_values()

Mes
Junio         1325.7
Septiembre    1347.4
Julio         1363.6
Octubre       1388.3
Marzo         1394.4
Febrero       1406.4
Mayo          1409.7
Diciembre     1416.6
Enero         1433.8
Agosto        1437.9
Noviembre     1456.6
Abril         1457.5
Name: Ventas, dtype: float64